<%

begin
  
%>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title><%=h "Tweets for #{@tweeter.screen_name}" -%></title>
    <description><%=h "Tweets for #{@tweeter.screen_name}" -%></description>
    <% for tweet in @tweeter.tweets(@twitter) %>
    <item>
      <title><%=h "#{screen_name(tweet)}#{suffix(tweet)}" -%></title>
      <% unless direct_message?(tweet) %>
      <link><%= "http://twitter.com/#{screen_name(tweet)}/status/#{tweet.id}" -%></link>
      <% end %>
      <guid><%= "twitter2rss_#{tweet.id}" -%></guid>
      <description>
        <![CDATA[<%= "#{avatar(tweet)}#{formatted(tweet.text)}" -%>]]>
      </description>
      <pubDate><%= DateTime.parse(tweet.created_at).strftime("%a, %d %b %Y %H:%M:%S EST") -%></pubDate>
    </item>
    <% end %>
  </channel>
</rss>
<%
rescue Exception => e
%>

<%= e.message %>
<%= e.backtrace.join("\n") %>

<%
end
%>